<!DOCTYPE html>
html(lang="en")
    head
        link(rel= 'stylesheet', href='https://fonts.googleapis.com/css?family=Staatliches')
        link(rel='stylesheet', href='../sass/main.scss')
        script(src='../js/main.js')
    body
        .container
            .question-box
                h1 hello
            .buttons
                button.answer
                button.answer
                button.answer
                button.answer
                button.answer
            .counter
                p
            button.starter Start game!
            button.check-answer Check Answer
            button.next-question Next Question
        .walkway
            .mario