<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', href='../sass/main.scss')
        script(src='../js/main.js')
    body
        h1 Trivia Game
        .question-box
            .question
                p I display a question
        button.answer hello1
        button.answer hello2
        button.answer hello3
        button.answer hello4
        button.answer hello5
        button.check-answer Check Answer
        button#click-me Click me