<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', href='../sass/main.scss')
        script(src='../js/main.js')
    body
        h1 Trivia Game
        .question-box
            .question
                p I display a question
        button#click-me Click me